<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Publish New Document</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    </head>
    <body class="container">
        <div class="row col-sm-6" style="padding:20px; float: none; margin: 0 auto;">

            <form id="upload-form" th:action="@{/publisher/document/upload}" th:object="${uploadedDocument}" method="post" enctype="multipart/form-data">
                <h2 class="form-heading">Publish New Document</h2><br/>
                <div class="form-group">

                    <div class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div><div class="alert alert-danger" id="feedback" style="display:none"></div>
                    <input required th:field="*{title}" class="form-control" placeholder="Title" autofocus><br/>

                    <div class="alert alert-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                    <textarea rows="4" cols="50" th:field="*{description}" class="form-control" placeholder="Description"></textarea><br/>

                    <div class="alert alert-danger" th:if="${#fields.hasErrors('file')}" th:errors="*{file}"></div>
                    <input required type="file" th:field="*{file}" class="form-control" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"/><br/>

                    <div class="alert alert-danger" th:if="${#fields.hasErrors('selectedTopics')}" th:errors="*{selectedTopics}"></div>
                    <select class="form-control" required multiple th:field="*{selectedTopics}">
                        <option th:each="topic : ${topics}" th:value="${topic.id}" th:text="${topic.name}"></option>
                    </select><br/>

                    <input type="submit" value="Submit" class="btn btn-lg btn-primary btn-block" /><br/>

                    <a href="/publisher/topics">View my documents</a>
                </div>
            </form>

            <div th:insert="~{logout :: link}"></div>

        </div>
        <script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--<script type="text/javascript" th:src="@{/js/document.js}"></script>-->
    </body>
</html>
