<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Documents</title>
        <link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-select.min.css">
    </head>
    <body>
        <div class="container">
            <h2 class="form-heading" th:text="${topicName}"></h2>
            <ul>
                <div th:if="${#lists.isEmpty(documents)}"><p>No documents published yet under this topic.<p></div>
                <ul class="list-group">
                    <p th:each="document : ${documents}">
                        <li class="list-group-item">
                            <span th:text="${document.title}" th:title="${document.description}"/>
                            <span sec:authorize="hasRole('PUBLISHER')">
                                <span class="badge" style="margin-right:10px;float:right;font-color:white"><a style="color:white" th:href="@{/publisher/document/delete(id=${document.id})}">Delete</a></span>
                                <span class="badge" style="margin-right:10px;float:right;font-color:white"><a style="color:white" th:href="@{/publisher/document/edit(id=${document.id})}">Edit</a></span>
                            </span>
                            <span class="badge" style="margin-right:10px;float:right;font-color:white"><a style="color:white" th:href="@{/download(id=${document.id})}" >Download</a></span>
                        </li>
                    </p>
                </ul>
            </ul>

            <a href="/publisher/document/publish">Publish New Document</a>

            <div th:insert="~{logout :: link}"></div>
        </div>
        <script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>