<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
        <title>Edit Document</title>
        <link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-select.min.css">
    </head>

    <body class="container">
        <div class="row col-sm-6" style="padding:20px; float: none; margin: 0 auto;">

            <form th:action="@{/publisher/document/update}" th:object="${uploadedDocument}" method="post" enctype="multipart/form-data">
                <h2 class="form-heading">Edit Document</h2><br/>
                <div class="form-group">

                    <div class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                    <input required th:field="*{title}" class="form-control" placeholder="Title" autofocus><br/>

                    <div class="alert alert-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                    <textarea rows="4" cols="50" th:field="*{description}" class="form-control" placeholder="Description"></textarea><br/>

                    <input type="hidden" th:field="*{id}"/>

                    <a th:href="@{/download(id=${uploadedDocument.id})}" th:text="${uploadedDocument.fileName}"/>

                    <input type="file" th:field="*{file}" class="form-control" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"/><br/>

                    <div class="alert alert-danger" th:if="${#fields.hasErrors('selectedTopics')}" th:errors="*{selectedTopics}"></div>
                    <select class="form-control" required multiple name="selectedTopics">
                        <option th:each="topic : ${topics}" th:value="${topic.id}" th:text="${topic.name}"
                                th:selected="${uploadedDocument.isSelectedTopic(topic)}"/>
                    </select><br/>

                    <input type="submit" value="Submit" class="btn btn-lg btn-primary btn-block" /><br/>
                </div>
            </form>

            <div th:insert="~{logout :: link}"></div>

        </div>
        <script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
