<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Topics</title>
        <link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-select.min.css">
    </head>
    <body>
        <div class="container">
            <span sec:authorize access="hasRole('PUBLISHER')">
                <br/><a href="/publisher/document/publish">Publish a Document</a>
            </span>
            <h2 class="form-heading">Topics</h2>
            <ul>
                <div class="list-group">
                    <p th:each="topic : ${topics}">
                        <span sec:authorize="hasRole('PUBLISHER')">
                             <a th:href="@{/publisher/documents(tid=${topic.id})}" class="list-group-item" th:text="${topic.name}"></a>
                        </span>
                        <span sec:authorize="hasRole('CONSUMER')">
                             <a th:href="@{/consumer/documents(tid=${topic.id})}" class="list-group-item" th:text="${topic.name}"></a>
                        </span>
                    </p>
                </div>
            </ul>

            <a href="/publisher/document/publish">Publish New Document</a>

            <div th:insert="~{logout :: link}"></div>
        </div>
        <script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>